            body {
                
                font-family: sans-serif;
                background-color: #e3dfc8;
            }

           
            #shape {
                
                width: 200px;
                height: 200px;
                position: relative;
                
            }
            
            .bold {
                
                font-weight: bold;
                
            }

             .italic{
                font-style: italic;
            }
        

            .hidden{
                display: none;
            }
